{% extends 'base.html.twig' %}

{% block body %}
    <section class="container hero">
        <div class="hero-body">
            <div class="container is-fluid">
                <h1 class="title">XMLs Import Component</h1>
                <hr>
                <form action="{{ path('import-create') }}" method="post" enctype="multipart/form-data">
                   <input type="file" name="people" class="add-fileuploader-people" data-name="People">
                   <input type="file" name="shiporders" class="add-fileuploader-shiporders" data-name="Ship Orders">
                    <input type="submit" class="button is-info" style="width: 100%">
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        const fileuploader = function(inputName, dataName) {
            return $(inputName).fileuploader({
                limit: 1,
                maxSize: 2,
                maxSize: 2,
                extensions: [ 'xml' ],
                changeInput: '<div class="fileuploader-input">' +
                              '<div class="fileuploader-input-inner">' +
                                  '<h3 class="fileuploader-input-caption"><span>Drag&Drop '+ dataName +' XML file</span></h3>' +
                                  '<p>or</p>' +
                                  '<div class="fileuploader-input-button"><span>Browse Files</span></div>' +
                              '</div>' +
                          '</div>',
                theme: 'dragdrop',
            });
        }
        fileuploader('.add-fileuploader-shiporders', 'Ship Orders');
        fileuploader('.add-fileuploader-people', 'People');
    </script>
{% endblock %}
